body{
    margin:0;
    padding: 0;

}
header{
    border: 1px solid black;
    border-radius: 5px 5px 5px 0px;
    width:100%;
    height:56px;
    background-color: rgb(95, 95, 166);
    position: sticky;
    top: 0;
    z-index: 1000;
  
}
.navbar{
     display:flex;
      justify-content: space-between;
   align-items: center;
}
.nab01{
display: flex;
justify-content: center;

}
.naba1{
    width: 35px;
    height:35px;

    margin: 0%;
    margin-left:85px;
    padding: 0%;
    margin-top: 5px;
    
}
.naba1:hover{
    border:1px dashed aqua;
    border-radius: 33px;
}
.nab02{
    
   display: flex;
   justify-content:center;
   align-items: flex-start;
   font-size: 25px;
   margin-right:25px;


}
.naba2{ 
    text-decoration:none;
    color:white;
   

}


.naba3{
    color: #FFFFFF99;
    text-decoration:none;
    font-size: 22px;
    padding: 13px 15px; 
    border-radius: 8px;
    white-space: nowrap;
    transition: all 0.3s ease;
    font-weight: 400;
  
}
.nab05{
    margin-right:422px;
}

.naba4{
    font-size: 14px;
    text-decoration:none;
   color:white;
   
}

/* hero section */
.hero-section{
    width:100%;
    height: 40px;
    background-color: aqua;
    padding-top:1.3%;

 
}
.heroPart1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid blue;
    background-color: blue;
}
.tsize{
    
    text-decoration: none;
    font-size: 22px;
    color:lightslategray;
    padding: 13px 15px; 
    border-radius: 8px;
    white-space: nowrap;
    transition: all 0.3s ease;
    font-weight: 400;
  
}

.games{
    margin-right: 400px;
}


/* tablebox */


.tablebox{
    height:500px;
    font-size: 12px;
   
    padding: 0px 0px 0px 7px;
    width: 100%;
max-width: 967px;
margin: auto;

}
.box{
  
    width:960px;
    height:52px;
      display: flex;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      justify-content: space-between;
      padding:4px 0px 0px 4px;
}
.boxM{

    width:50px;
    height:48px;
   margin:0px 1px 0px 0px;
      background-color: lightgray;
 

}
.box0M{
      width:50px;
    height:48px;
   margin:0px 1px 0px 0px;
}
.boxM1{
   
    margin:12px 0px 0px;
  padding: 0%;
  width:50px;
  height:15px;
    display: flex;
    font-size: 18px;
    font-family: Arial;
    justify-content: center;
  
}
.boxM2{
    display: flex;
    justify-content: center;
    font-family: Arial;
  
 margin:6px 0px 0px;

   width:50px;
  height:15px;
  color:white;
  font-size: 12px;
}
.boxa{
    text-decoration: none;
}
.BOXC{margin-top: 10px;
    display:flex;
    justify-content: center;

    padding-bottom: 34px;
}
.spacesC{
   
    width:530px;
    height:102.4px;
}

.spacesC01{
    width:515px;
    font-size: 30px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
   border-radius: 3px;
    padding: 14px 0px 0px 15px;
    background-color: #F2F2F4;
 padding-bottom: 10px;

}
.spcesS{
    width:530px;
    height:110px;
    font-size: 13px;
}
.spacesC1{
    font-size: 13px;
    justify-content: center;
    text-align:justify;
    display: inline-block;
    margin: 9px;
    margin-top: 12px;
}
.empty{
      width:50px;
    height:48px;
}

/* color give to the table entity */
.col21{
background-color: rgb(90, 190, 230);
}
.colo21{
    background-color:rgb(20, 110, 180);
}

.col58{
background-color: rgba(89, 234, 239, 0.884);

}
.col058{
background-color: #0FA4A9;
}
   
.col89{
background-color: rgb(154, 210, 75);
}
.col089{
    background-color:rgb(17, 125, 67);
}
.col5{
background-color: rgb(176, 234, 39);
}
.col2{
background-color: rgb(228, 222, 36);
}
.col3{
background-color:rgba(215, 168, 203, 0.767);
}
.col03{
background-color: rgba(134, 16, 63, 0.868);
}
.col4{
background-color:rgba(185, 5, 140, 0.274);
}
.col04{
background-color:rgba(225, 10, 96, 0.836);
}

.col9{
  background-color: rgb(239, 178, 121);
}
.col09{
    background-color: rgb(189, 106, 29);
}
.col8{
background-color: rgb(240, 175, 12);
}
.col08{
    background-color: rgb(165, 55, 3);
}
.col6{
background-color: rgba(196, 133, 196, 0.872);
}
.col06{
    background-color:rgba(116, 13, 112, 0.954);
}
.col7{
background-color:rgb(175, 170, 170);
}
.col07{
    background-color: rgb(66, 90, 80);
}
     /* table details section */


.tdetails {
    width: 967px;
    height: 106px;
    margin: 10px auto; 
   
    display: flex;
    justify-content: center; 
    align-items: center;
}

.TSdetail {
    background-color: #F2F2F3;
    width: 958px;
    height: 102px;
    display: flex;
     flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.TS1,.TS2{
    width:955px;
        height:51px;
        border:1px solid black;
        display: flex;
        justify-content:space-between ;
        align-items: center; 
}

 
    .TSPart2{
              display: flex;
       justify-content:center ;
       align-items: center;
    } 
    .TSPart1{
               display: flex;
       
       align-items: center;
   
      
        width:930px;
        height:36px;
         
    }
    .tsp1{

        background-color: black;
        color:white;
        margin:20px;
        text-decoration: none;
     
    }
.tspp1{
      font-size: 13px;
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 3px;
    }
  .TSPart02{
   
    width: 338px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0px 0px;
    padding: 2px 3px;
    }
  .TSPart03{
   
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 6px 9px 0px;
    padding: 2px 3px;
    }
  .TSPart04{
   
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 7px 0px 2px;
    padding: 2px 3px;
    }
    .tspp4{
        margin: 6px 0px 0px;
        padding:2px 3px;
        font-size: 13px;
      text-decoration: none;
      color: white;
      background-color: black;
     
    }
.element-img {
   
    width:50px;
    height:48px;   /* scale image to fit height */
    object-fit: cover; /* maintain aspect ratio */
}




/* footer */
footer{
    margin-top:15px;
    
}
.foot-panel1{
    background-color:#6b96c45a;
    color:rgba(12, 100, 85, 0.685);
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
  

}
.foot_text{
  white-space: nowrap;
  color: #ea6060;
  font-size: 18px;
  display: inline-block;
  animation: text 11s linear infinite;
}

@keyframes text {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}


.foot-panel2{
    background-color: #3c628a82;
    color:white;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}
ul a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}
ul{
    margin-top:20px;
}
.foot-panel3{
    background-color: #60d88648;
    color:white;
    border-top:0.5px solid black;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("LOGOWEB.jpg");
    background-size: cover;
    height:70px;
    width:250px;
    border-radius: 5px;
}


.foot-panel4{
    background-color: #222f3d5a;
    color:white;
    height:80px;
    font-size: 0.95rem;
    text-align:center;

    

}
.pages{
    padding-top:25px;
    }
    .copyright{
    padding-top:5px;
    }

    /* about us */
    .about1{
        width:100%;
        max-width:967px;
        border-radius: 7px;
        margin: 0 0 0 267px;
        padding:11px; color: black;
        
        background-color: #e5d9d9;
    }
    .about0{
        width:100%;
        max-width:967px;
        border-radius: 7px;
        color: black;
        
        background-color: #e5d9d9;
    }

.AU1{
    color:rgb(50, 91, 240);

}
.AU2{
    font-size: 18px;
}

/* history page  */

.home1{
    border-radius: 7px;
    margin:3px;
    padding: 23px;
     margin-bottom: 0;
      color: black;
     
}
.homeh{
    font-size: 20px;
    color:#ea6060;
    background-color: white;
   
}
.homep{
    font-size: 18px;
    text-align: start;
}


   .sidebar-menu {
      position: fixed;
      top: 0;
      left: -265px;
      width: 265px;
      height: 100%;
      background-color: #4b0082;
      padding-top: 60px;
      transition: left 0.3s ease;
      z-index: 1000;
    }

    .sidebar-menu.active {
      left: 0;
    }

    .sidebar-menu a {
      display: block;
      color: white;
      padding: 15px 20px;
      text-decoration: none;
      font-size: 18px;
    }

    .sidebar-menu a:hover {
      background-color: #6a1b9a;
    }

    .hamburger {
      cursor: pointer;
      z-index: 1100;
    }


    /* hover effect */

    .nab03 a:hover{
        background-color: rgb(84, 84, 141);
        text-decoration: underline;
        text-underline-offset: 4px;
        color:white;
    }
    .nab04 a:hover{
        background-color: rgb(84, 84, 141);
        text-decoration: underline;
        text-underline-offset: 4px;
        color:white;
    }
    .nab05 a:hover{
        background-color:  rgb(84, 84, 141);
        text-decoration: underline;
        text-underline-offset: 4px;
        color:white;
  
    }
    
   
.heroPart1 a:hover{
 background-color:  rgb(89, 218, 218);
        text-decoration: underline;
        text-underline-offset: 4px;
        color: white;
}
